<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1rem;">
  @for(user of userDatasList; track user.id) {
    @if(user.profession === 'Software Developer') {
      <span style="color: chartreuse;"> {{user.name}} is Software Developer </span>
    } @else if(user.profession === 'Scrum Master') {
      <span style="color: cadetblue;">{{user.name}} is a Scrum Master </span>
    } @else {
        <span style="color: black;"> {{user.name}} is {{user.profession}} and your age is {{user.age}} </span>
    }
  }
</div>
